latitude: 40.6331
longitude: 89.3985
http_password: xxxxxx
network_key: xxxxxx
github_api: xxxxxx
darksky_api: xxxxxx
twilio_sid: xxxx
twilio_token: xxxx
twilio_phone: +11234567891
spencer_phone_num: +11234567891
rose_phone_num: +11234567891
rose_mom_phone_num: +11234567891